<div class="row">
  <div class="col-md-12">
    <h1 class="ranking">RANKINGS</h1><br>
  </div>
</div>
<div>
  <%= render partial: 'quarterback', locals: { players: @players } %>
  <%= render partial: 'running_back', locals: { players: @players } %>
  <%= render partial: 'wide_receiver', locals: { players: @players } %>
  <%= render partial: 'tight_end', locals: { players: @players } %>
</div>
<br><br><br><br>
