<table class="table">
  <tr><td>
  <small class="date">
    <%= comment.user.username %> commented on <%= comment.created_at.strftime("%B %d, %Y") %>
    <% if policy(comment).destroy? %>
      <%= link_to "Delete", [comment.post, comment], method: :delete %>
    <% end %>
  </small>
  <p><%= comment.body %></p>
  </td></tr>
</table>