<div class="home"><br><br>
  <% @topics.each_slice(3) do |topics| %>
    <div class="row">
      <% topics.each do |topic| %>
        <h1 class="col-md-4 text-center"><%= link_to topic.name, topic, class: 'topic-links' %></h2>
        <%#= image_tag topic.image_path %>
      <% end %>
    </div><br><br><br>
  <% end %>
  <div class="text-center">
    <% if policy(Topic.new).create? %>
      <%= link_to "New Topic", new_topic_path, class: 'devise btn btn-success' %>
    <% end %>
  </div>
</div>
