<div class="home">
  <div class="row">
    <h1><%= @topic.name %></h1>
    <p class="line">_____________________________________________________________________________________________________________________________</p>
    <% @posts.each do |post| %>
      <h3 class="text"><%= link_to post.title, [@topic, post], class: 'post-links' %></h3>
      <h5 class="author">By <%= post.user.username %></h5>
      <p class="line">_____________________________________________________________________________________________________________________________</p>
    <% end %><br>
    <%= link_to "New Post", new_topic_post_path(@topic), class: 'devise btn btn-success' %>
  </div>
</div><br><br>