<div class="about"><br><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <h1>How To Play</h1><br>
      <p class="about">Fantasy Football is a game of skill. </p>
    </div>
  </div>
</div>