<div class="about"><br><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>How To Play</h1><br>
      <p class="about">A fantasy-friendly platform for Football enthusiasts to gain a statistical edge over their competition through a collection of advanced metrics derived from player performance.</p>
    </div>
  </div>
</div>