<div class="home">
  <div class="row">
      <h1>How To Play</h1><br>
      <p class="text">A fantasy-friendly platform for football enthusiasts to gain a statistical edge over their competition through a collection of advanced metrics derived from player performance and opportunity.</p><br>
  </div>
</div>