<div class="row">
  <div class="col-md-12">
    <div class="jumbotron center-block text-center">
      <h1 class="hero-title">FantasyMetrix</h1><br><br>
      <form class="navbar-form" role="search" onsubmit="return getPlayer()">
        <div class="input-group" style="width: 400px">
          <input type="text" data-player-search="<%= NflPlayer.pluck(:name).to_json %>" autocomplete="off" class="form-control" placeholder="Search Current NFL Player" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form><br><br>
      <% if !user_signed_in? %>
        <p><%= link_to "Sign Up", new_user_registration_path, class: 'devise btn btn-success' %></p>
      <% end %><br><br>
      <%= link_to image_tag("backgrounds/fanduel.png", :width => 196, :height => 44, :title => "FanDuel"), "https://www.fanduel.com/", :target => "_blank", class: "fanduel" %>
    </div>
  </div>
</div>