<div class="row">
  <div class="col-md-12">
    <h3>2015 Game Log</h3>
    <table id="header" class="table table-bordered table-hover grey text-center">
      <tbody>
        <tr>
          <th colspan="3">Game</th><th colspan="7">Passing</th><th colspan="3">Rushing</th><th colspan="1">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Week">WEEK</th><th title="Date">DATE</th><th title="Opponent">OPP</th><th title="Completions">COMP</th><th title="Passing Attempts">ATT</th><th title="Completion Percentage">COMP %</th><th title="Passing Yards">YARDS</th><th title="Yards Per Attempt">YPA</th><th title="Passing Touchdowns">TD</th><th title="Interceptions">INT</th><th title="Rushing Attempts">ATT</th><th title="Rushing Yards">YARDS</th><th title="Rushing Touchdowns">TD</th><th title="Standard Scoring">STANDARD</th>
        </tr>
        <%= render @passing_game_logs %>
      </tbody>
    </table>
  </div>
</div><br><br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <% if policy(@passing_game_log).create? %>
      <%= link_to "New Passing Game Log", new_player_passing_game_log_path(@player, @passing_game_log), class: 'edit btn btn-success' %>
    <% end %>
  </div>
</div>