/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  color: white;
  min-height: 100%;
  font-family: 'Helvetica';
  background: asset-url('backgrounds/carbon.png');
  background-color: #13181A !important;
}

.alert-success {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #499871;
}

.alert-danger {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #497198;
}

.alert-warning {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #984949;
}

.main.container {
  padding-bottom: 100px;
}

.navbar {
  background: asset-url('backgrounds/carbon.png');
}

.navbar-static-top {
  min-height: 80px;
}

.navbar-header {
  margin-top: 10px;
}

.navbar-header .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navHeaderCollapse {
  font-size: 16px;
  margin-top: 15px;
}

.navHeaderCollapse .navbar-nav .nav-links {
  color: #397D02;
}

ul.nav a:hover { 
  color: #B7B7B7 !important;
}

.jumbotron {
  min-height: 300px;
  width: 750px;
  background: asset-url('backgrounds/carbon.png');
}

.jumbotron .hero-title {
  color: #397D02;
  font-size: 90px;
  text-shadow: 1px 1px #13181A, 
               2px 2px #13181A, 
               3px 3px #13181A;
}

.index.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.index.btn:hover {
  border-color: #ffffff;
  background-color: #397D02 !important;
}

.index.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.devise.btn:hover {
  border-color: #ffffff;
  background-color: #397D02 !important;
}

.devise.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn:focus {
  outline: none !important;
}

.devise-links {
  color: #397D02;
}

.devise-links:hover {
  color: #23527C;
  text-decoration: none;
}

.cancel.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.cancel.btn:hover {
  border-color: #ffffff;
  background-color: #984949 !important;
}

.cancel.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.cancel.btn:focus {
  outline: none !important;
}

.edit.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.edit.btn:hover {
  border-color: #ffffff;
  background-color: #497198 !important;
}

.edit.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.edit.btn:focus {
  outline: none !important;
}

.blue {
  color: #23527C;
}

.blue:hover{
  color: #23527C;
  text-decoration: none;
}

.green {
  color: #397D02;
}

.green:hover {
  color: #397D02;
}

.grey {
  color: #B7B7B7;
  text-decoration: none;
}

.grey:hover {
  color: #B7B7B7;
  text-decoration: none;
}

.article-links {
  color: #23527C;
}

.article-links:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-body {
  font-size: 15px;
  text-align: justify;
}

.article-image {
  float: right;
  margin-left: 5px;
}

.sorter {
  color: #B7B7B7;
}

.sorter:hover {
  color: #397D02;
  text-decoration: none;
}

.topics-show {
  padding-right: -25px;
}

.topic-links {
  color: #B7B7B7;
}

.topic-links:hover {
  color: #397D02;
  text-decoration: none;
}

.posts-show {
  margin-left: -35px;
}

.post-links {
  color: #23527C;
}

.post-links:hover {
  color: #ffffff;
  text-decoration: none;
}

.team-page {
  width: 12.5%;
}

.team-id {
  color: #397D02;
}

.team-id:hover {
  color: #ffffff;
  text-decoration: none;
}

.player {
  border: 2px solid #B7B7B7;
}

.player-links {
  color: #B7B7B7;
}

.player-links:hover {
  color: #ffffff;
  text-decoration: none;
}

.player-stats {
  color: #397D02;
}

.player-stats:hover {
  color: #ffffff;
  text-decoration: none;
}

.profile {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ffffff;
}

table#header th {
  text-align: center;
}

.table-hover tbody tr:hover th {
  color: #ffffff;
  background-color: #23527C;
}

.table-hover tbody tr:hover td {
  color: #ffffff;
  background-color: #397D02;
}

.heading h4 {
  display: inline;
}

.vote-arrows {
  width: 35px;
  margin-top: 30px;
  text-align: center;
}

.glyphicon-chevron-up {
  color: #397D02 !important;
}

.glyphicon-chevron-up:hover {
  text-decoration: none;
  color: #23527C !important;
}

.glyphicon-chevron-down {
  color: #397D02 !important;
}

.glyphicon-chevron-down:hover {
  text-decoration: none;
  color: #23527C !important;
}

@media (max-width: 680px) {
  .jumbotron {
    min-height: 300px;
    width: 400px;
  }

  .jumbotron .hero-title {
    font-size: 55px;
  }

  .input-group {
    width: 200px;
  }
}