/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/subtle_carbon.png");
  background-color: #171C21 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #D5CAC8;
}

h1.topic {
  color: #397D02;
}

h1.post {
  color: #397D02;
}

h1.title {
  color: #397D02;
}

h4.body {
  color: #D5CAC8;
}

h5.author {
  color: #23527C;
}

p.text {
  font-size: 18px;
  color: #D5CAC8;
}

.navbar {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/outlets.png");
}

.alert-success {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #499871;
}

.alert-danger {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #497198;
}

.alert-warning {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #984949;
}

.container {
  margin-top: 15px;
}

.home {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png");
  border-radius: 5px;
  min-height: 600px;
}

.jumbotron {
  min-height: 300px;
  width: 750px;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/outlets.png");
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  color: #ffffff;
}

.green {
  color: #397D02;
}

.nav {
  margin-top: 5px;
}

.nav-links {
  font-size: 16px;
  color: #397D02 !important;
}

.nav-links:hover {
  font-size: 16px;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png") !important;
}

.topic-links {
  color: #D5CAC8 !important;
}

.topic-links:hover {
  text-decoration: none;
  color: #ffffff !important;
}

.post-links {
  color: #D5CAC8 !important;
}

.post-links:hover {
  text-decoration: none;
  color: #ffffff !important;
}

.devise-links {
  color: #397D02;
}

.devise-links:hover {
  color: #397D02;
}

.glyphicon-user {
  color: #397D02 !important;
}

.glyphicon-user:hover {
  color: #B7B7B7 !important;
}

.glyphicon-log-in {
  color: #397D02 !important;
}

.glyphicon-log-in:hover {
  color: #B7B7B7 !important;
}

.glyphicon-log-out {
  color: #984949 !important;
}

.glyphicon-log-out:hover {
  color: #B7B7B7 !important;
}

.index.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.index.btn:hover {
  border-color: #ffffff;
  background-color: #397D02 !important;
}

.index.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.devise.btn:hover {
  border-color: #ffffff;
  background-color: #397D02;
}

.devise.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn:focus {
  outline: none !important;
}

.cancel.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.cancel.btn:hover {
  border-color: #ffffff;
  background-color: #984949 !important;
}

.cancel.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.cancel.btn:focus {
  outline: none !important;
}

.input-group {
  width: 300px;
}

.fanduel {

}