/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background: asset-url('background/classy.png');
  background-color: #13181A !important;
}

h1, h2 {
  color: #ffffff;
  font: Helvetica, Arial, Sans-Serif;
}

h3, h4, h5, h6, p {
  color: #B7B7B7;
  font: Helvetica, Arial, Sans-Serif;
}

h1.title {
  color: #397D02;
  font-size: 90px;
  text-shadow: 1px 1px #13181A, 
               2px 2px #13181A, 
               3px 3px #13181A;
}

h1.article {
  color: #B7B7B7;
}

h1.team {
  font-size: 50px;
  color: #B7B7B7;
}

h1.player {
  color: #B7B7B7;
}

h1.topic {
  color: #B7B7B7;
}

h1.post {
  color: #23527C;
}

h4.paginate {
  color: #397D02;
}

small.date {
  color: #397D02;
}

small.author {
  color: #ffffff;
}

.text {
  color: #ffffff;
}

.grey {
  color: #B7B7B7;
}

.green {
  color: #397D02;
}

.blue {
  color: #23527C;
}

.red {
  color: #984949;
}

.alert-success {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #499871;
}

.alert-danger {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #497198;
}

.alert-warning {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #984949;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 15px;
}

.navbar {
  height: 60px;
  background: asset-url('background/carbon.png');
}

.navbar-brand {
  font-weight: bold;
}

.home {
  border-radius: 5px;
  min-height: 600px;
  background: asset-url('background/carbon.png');
}

.jumbotron {
  min-height: 300px;
  width: 750px;
  background: none;
}

.nav {
  margin-top: 5px;
}

ul.nav a:hover { 
  color: #B7B7B7 !important;
}

.nav-links {
  font-size: 16px;
  color: #397D02 !important;
}

.input-group {
  width: 300px;
}

.article {
  text-align: justify;
}

.topic-links {
  color: #B7B7B7;
}

.topic-links:hover {
  text-decoration: none;
  color: #ffffff;
}

.article-links {
  color: #23527C;
}

.article-links:hover {
  text-decoration: none;
  color: #23527C;
}

.post-links {
  color: #23527C;
}

.post-links:hover {
  text-decoration: none;
  color: #23527C;
}

.devise-links {
  color: #397D02;
}

.devise-links:hover {
  color: #23527C;
  text-decoration: none;
}

.player-links {
  color: #B7B7B7;
}

.player-links:hover {
  text-decoration: none;
  color: #ffffff;
}

.glyphicon-user {
  color: #397D02 !important;
}

.glyphicon-user:hover {
  color: #B7B7B7 !important;
}

.glyphicon-log-in {
  color: #397D02 !important;
}

.glyphicon-log-in:hover {
  color: #B7B7B7 !important;
}

.glyphicon-log-out {
  color: #984949 !important;
}

.glyphicon-log-out:hover {
  color: #B7B7B7 !important;
}

.index.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.index.btn:hover {
  border-color: #ffffff;
  background-color: #397D02 !important;
}

.index.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.devise.btn:hover {
  border-color: #ffffff;
  background-color: #397D02 !important;
}

.devise.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.devise.btn:focus {
  outline: none !important;
}

.cancel.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.cancel.btn:hover {
  border-color: #ffffff;
  background-color: #984949 !important;
}

.cancel.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.cancel.btn:focus {
  outline: none !important;
}

.edit.btn {
  border-color: #ffffff;
  background-color: #171C21;
}

.edit.btn:hover {
  border-color: #ffffff;
  background-color: #497198 !important;
}

.edit.btn:active {
  border-color: #ffffff;
  background-color: #171C21 !important;
}

.edit.btn:focus {
  outline: none !important;
}

.image {
  float: right;
  margin-left: 5px;
}

.heading h4 {
  display: inline;
}